@font-face {
	font-family: 'Roboto';
	src: url('Fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('Fonts/Roboto-Custom.ttf');
}

@font-face {
	font-family: 'MediaIcons';
	src: url('Fonts/MediaIcons.ttf');
}

*.const {
	-player-background-color: #000000;
	-player-text-color: #ffffff;

	-player-volume-box-background-color: #545454;
	-player-volume-box-border-color: #6d6d6d;
	-player-volume-box-text-color: #d6d6d6;
	-player-volume-slider-background-color: #565656;
	-player-volume-slider-foreground-color: #ffffff;

	-player-icon-color: #ffffff;
	-player-icon-off-color: #666666;

	-player-icon-background-color: rgba(255,255,255,0);
	-player-icon-background-hover-color: rgba(255,255,255,0.16);
	-player-icon-background-pressed-color: rgba(255,255,255,0.3);

}

.background {
    -fx-background-color: -player-background-color;
}

/*** slider ***/

.slider .track {
    -fx-padding: 7;
}

.slider .thumb {
    /*-fx-background-image: url("thumb.png");*/
    -fx-padding: 7 2;
}

.slider {
    -fx-background-color: black;
}

/*** button ***/
/*** toggle-button ***/
/*** volume-button ***/
.button, .toggle-button{
    -fx-background-color: -player-icon-background-color;
    -fx-padding: 5 5 2 5;
}

.button:hover, .toggle-button:hover{
    -fx-background-color: -player-icon-background-hover-color;
}

.button:pressed{
    -fx-background-color: -player-icon-background-pressed-color;
}

.button > .text {
	-fx-font-size: 32px;
    -fx-font-family: 'MediaIcons';
	-fx-fill: -player-icon-color;
}

.toggle-button > .text {
	-fx-font-size: 32px;
    -fx-font-family: 'MediaIcons';
	-fx-fill: -player-icon-off-color;
}

.toggle-button:selected > .text {
	-fx-fill: -player-icon-color;
}

/*** label ***/
.label > .text {
	-fx-font-size: 14px;
    -fx-font-family: 'Roboto Medium';
    -fx-fill: -player-volume-box-text-color;
}

/*** time-label ***/
.time-label > .text {
    -fx-fill: -player-text-color;
}

/*** volume-box ***/
.volume-box {
    -fx-background-color: -player-volume-box-background-color;
	-fx-border-color: -player-volume-box-border-color;
	-fx-border-width: 2;
}

/*** volume-slider ***/
.volume-slider-background {
    -fx-background-color: -player-volume-slider-background-color;
}

.volume-slider-foreground {
    -fx-background-color: -player-volume-slider-foreground-color;
}


