@font-face {
	font-family: 'Roboto';
	src: url('Fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('Fonts/Roboto-Custom.ttf');
}

@font-face {
	font-family: 'MediaIcons';
	src: url('Fonts/MediaIcons.ttf');
}

* {
	-color-background: #545454;
	-color-background-highlight: #6d6d6d;
	-color-text: #ffffff;
	-color-text-highlight: #ffffff;

	-color-icon: #ffffff;
	-color-icon-play: #ffffff;

	-text-size: 32px;
}

/*** slider ***/

.slider .track {
    -fx-padding: 7;
}

.slider .thumb {
    /*-fx-background-image: url("thumb.png");*/
    -fx-padding: 7 2;
}

.slider {
    -fx-background-color: black;
}

/*** button ***/

.button {
    -fx-background-color: rgba(0,0,0,0);
    -fx-padding: 0;
}

.button > .text {
	-fx-font-size: 32px;
    -fx-font-family: 'MediaIcons';
	-fx-fill: -color-icon;
}

.play-button > .text {
    -fx-fill: -color-icon;
}