@font-face {
	font-family: 'Roboto';
	src: url('Fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('Fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'MediaIcons';
	src: url('Fonts/MediaIcons.ttf');
}

*.const {
    -playlist-background-color: #545454;
   	-playlist-text-color: #d6d6d6;
   	-playlist-text-hover-color: #efefef;
   	-playlist-text-pressed-color: #ffffff;
   	-playlist-search-background-color: #6d6d6d;
   	-playlist-button-color: #d6d6d6;
   	-playlist-button-background-color: #545454;
   	-playlist-button-background-hover-color: #6d6d6d;
   	-playlist-button-background-pressed-color: #969696;
    -playlist-box-background-color: #3a3a3a;
}

.background {
	-fx-background-color: -playlist-background-color;
}

.text-field {
    -fx-background-color: -playlist-search-background-color;
	-fx-font-size: 14px;
    -fx-font-family: 'Roboto Medium';
    -fx-text-fill: -playlist-text-color;
}

/*** button ***/
/*** menu-button ***/
.button, .menu-button {
    -fx-background-color: -playlist-button-background-color;
    -fx-padding: 5 5 2 5;
}

.button:hover, .menu-button:hover, .menu-button:pressed, .menu-button:showing {
    -fx-background-color: -playlist-button-background-hover-color;
}

.button:pressed {
    -fx-background-color: -playlist-button-background-pressed-color;
}

.button > .text {
	-fx-font-size: 24px;
    -fx-font-family: 'MediaIcons';
	-fx-fill: -playlist-button-color;
}

.menu-button > .label {
	-fx-font-size: 24px;
    -fx-font-family: 'MediaIcons';
	-fx-text-fill: -playlist-button-color;
	-fx-padding: 0;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.smaller-button > .label, .smaller-button > .text {
    -fx-font-size: 18px;
}

/*** combo-box ***/
.combo-box {
    -fx-background-color: -playlist-button-background-color;
}

.combo-box:hover, .combo-box:showing {
    -fx-background-color: -playlist-button-background-hover-color;
}

.combo-box > .arrow-button > .arrow {
    -fx-padding: 5px;
    -fx-background-color: -playlist-button-color;
}

.combo-box > .list-cell > .text {
	-fx-font-size: 16px;
    -fx-font-family: 'Roboto Medium';
    -fx-fill: -playlist-button-color;
}

.combo-box .list-view .list-cell {
    -fx-background-color: -playlist-background-color;
	-fx-font-size: 14px;
    -fx-font-family: 'Roboto Medium';
    -fx-text-fill: -playlist-text-color;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: -playlist-button-background-hover-color;
}

.combo-box .list-view .list-cell:pressed {
    -fx-background-color: -playlist-button-background-pressed-color;
}

.title-label {
	-fx-font-size: 18px;
    -fx-font-family: 'Roboto Bold';
    -fx-text-fill: -playlist-text-color;
}

.search-clear, .search-clear:hover, .search-clear:pressed {
    -fx-background-color: transparent;
}

.search-clear > .text {
	-fx-font-size: 18px;
}

.search-clear:hover > .text {
    -fx-fill: -playlist-text-hover-color;
}

.search-clear:pressed > .text {
    -fx-fill: -playlist-text-pressed-color;
}

.scroll-pane, .scroll-pane > .viewport{
    -fx-background-color: -playlist-box-background-color;
}

.search-icon {
	-fx-font-size: 26px;
    -fx-font-family: 'MediaIcons';
	-fx-text-fill: -playlist-button-color;
}