@font-face {
	font-family: 'Roboto';
	src: url('Fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('Fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'MediaIcons';
	src: url('Fonts/MediaIcons.ttf');
}

.recent-pane {
    -fx-background-color: #fbfbfb;
    -fx-border-width: 1px;
    -fx-border-color: #666666;
    -fx-border-style: dashed;
}