@font-face {
	font-family: 'Roboto';
	src: url('Fonts/Roboto-Thin.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('Fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('Fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'MediaIcons';
	src: url('Fonts/MediaIcons.ttf');
}

*.const {
	-background-color: #545454;
	-background-hover-color: #6d6d6d;
	-text-color: #d6d6d6;
	-text-pressed-color: #ffffff;

	-background-pressed-color: #969696;
	-exit-button-hover-color: #ee3333;
	-exit-button-pressed-color: #ee7777;
}


/*** button ***/
.queue-element-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 5 5 2 5;
}

.queue-element-button:hover {
    -fx-background-color: -background-hover-color;
}

.queue-element-button:pressed {
    -fx-background-color: -background-pressed-color;
}

.queue-element-button > .text {
    -fx-font-size: 14px;
    -fx-font-family: 'MediaIcons';
    -fx-fill: -text-color;
}




.playlist-element-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 5 5 2 5;
}

.playlist-element-button:hover {
    -fx-background-color: -background-hover-color;
}

.playlist-element-button:pressed {
    -fx-background-color: -background-pressed-color;
}

.playlist-element-button > .text {
    -fx-font-size: 12px;
    -fx-font-family: 'MediaIcons';
    -fx-fill: -text-color;
}


.background {
    -fx-background-color: -box-color-primary;
}

.background-alter {
    -fx-background-color: -box-color-secondary;
}

.background:hover {
    -fx-background-color: -box-hover-color-primary;
}

.background-alter:hover {
    -fx-background-color: -box-hover-color-secondary;
}

.background-selected {
    -fx-background-color: -background-selected-color;
}

.background-selected:hover {
    -fx-background-color:  -background-selected-hover-color;
}

.title {
    -fx-text-fill: -text-color;
	-fx-font-size: 12px;
    -fx-font-family: 'Roboto Medium';
}

.background-selected > .title {
    -fx-text-fill: -text-selected-color;
}

.background-selected > .playlist-element-button > .text {
    -fx-fill: -text-selected-color;
}

.background-selected > .playlist-element-button:hover > .text {
    -fx-fill: -text-color;
}