/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-05-22, 13:51:14
    Author     : Pregiel
*/


.background {
    -fx-background-color: white;
}

.background:hover {
    -fx-background-color: #ccffff
}

.background-selected {
    -fx-background-color: #66ccff
}

.background-selected:hover {
    -fx-background-color:  #3399ff
}

.title {
    -fx-text-fill: #000000
}

.title-playing {
    -fx-text-fill: #cc0033;
    -fx-font-weight: bold;
}

.title-notfound {
    -fx-text-fill: #a5a5a5;
}